body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #111 !important;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    color: #fff !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #f57c00 !important;
}

.btn-orange {
    background-color: #f57c00;
    color: #111;
    font-weight: 600;
}

.btn-orange:hover {
    background-color: #e56f00;
}

.hero-section {
    height: 90vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ),
    url("/static/images/hero.jpg") no-repeat center center/cover;
}

.hero-section h1 {
    color: #fff;
}

.hero-section p {
    color: #ffff;
}

.card {
    border: none;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    height: 220px;
    object-fit: cover;
    transition: 0.3s;
    filter: brightness(0.9);
}

.card:hover img {
    transform: scale(1.05);
}

.card-footer {
    background: transparent;
}

form p {
    margin-bottom: 1rem;
}

form p label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.35rem;
    color: #111;
}

form p input,
form p select,
form p textarea {
    width: 100%;
    padding: 0.65rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

form p input:focus,
form p select:focus,
form p textarea:focus {
    outline: none;
    border-color: #f57c00;
    box-shadow: 0 0 0 0.2rem rgba(245, 124, 0, 0.15);
}

textarea {
    resize: none;
}

footer {
    background-color: #111;
    color: #fff;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #f57c00;
}

.footer-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.hero-subtext {
    color: #f57c00;
    font-weight: 500;
}

.bg-dark {
    background-color: #111 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-warning {
    color: #f57c00 !important;
}

.checkout-success-section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  background: #f8f9fa;
}

.success-card {
  max-width: 650px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.success-card h2 {
  color: #198754;
  font-weight: 700;
}

.success-card .btn {
  border-radius: 30px;
  padding: 0.75rem 1.5rem;
}